.App{
  background-color: rgb(243, 174, 26);
  height: 100vh;
}
.header{
  text-align: center;
  color: rgb(253, 248, 241);
  text-shadow: 3px 3px 10px black;
}
.formContainer {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px 15px 10px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 25px black;
  z-index: 4;
}


.formContainer .inputBox {
  position: relative;
  width: 300px;
  height: 40px;
}
 .formContainer .inputBox input {
   position: absolute;
   z-index: 1;
   background-color: transparent;
   width: 100%;
   border: 1px solid rgb(187, 121, 0);
   padding: 10px;
   border-radius: 5px;
   font-size: 16px;
   color: #111;
   font-weight: 300;
 }
.formContainer .inputBox span {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 10px;
  transition: .5s;
}

.formContainer .inputBox input:focus~span,
.formContainer .inputBox input:valid~span {
  transform: translateX(3px) translateY(-10px);
  font-size: 13px;
  background-color: white;
  padding: 0 8px 0 8px;
  z-index: 2;
}
.infoContainer{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px 15px 10px;
  background: rgb(248, 126, 12);
  border-radius: 20px;
  box-shadow: 0 5px 25px black;
  z-index: 4;
  display: grid;
  place-items: center;
  color: white;
}
.tempBox{
  padding: 10px 10px 10px 10px;
  color: #111;
  font-weight: 500;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.459);
}